.btn-select-location {
  background-color: #37b5e2;
  font-size: 16px;
  font-weight: 350;
  font-family: Robot, sans-serif;
  border-radius: 10px;
  color: white;
  text-shadow:rgb(80, 80, 80);
  margin: 5px 5px 5px 0;
  position: relative;
  left: 566px;
  bottom: 441px;
}

.box-select-location {
  background-color: #257fa0;
  font-size: 16px;
  font-family: Robot, sans-serif;
  font-weight: 450;
  border-radius: 10px;
  color: white;
  margin: 5px 5px 5px 0;
  position: relative;
  left: 236px;
  bottom: 50px;
}

.img {
  max-width: 50%;
} 

.img__today {
  height: 135px;
  max-width: 140%;
  margin-bottom: 25px;
}

.block__today {
  border: 1px solid #D2D2D2;
  background-color: rgba(106, 106, 106, 0.75);
  border-radius: 25px;
  border-bottom: none;
  box-shadow: 8px 8px 12px #aaa;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  margin-top : 140px;
  height: 375px;
  width: 55%;
}

.day, .day2 {
  margin: 0 auto;
  position: relative;
  bottom: 70px;
  text-align: center;
}

.day-name {
  margin: 0;
  font-size: 0.99rem;
}

.city_name {
  margin: 0;
  padding: 0;
  display: block;
  width: 250px;
  text-transform: capitalize;
}

.hide {
  display: none;
}

.block__today-text {
  font-size: 1.7rem;
  position: relative;
  right: 50px;
  width: 100px;
}

#temperature {
  font-size: 45px;
}

.temp {
  margin-top: 10px;
  font-size: 35px;
}

.temp2 {
  font-size: 1.4rem;
  margin-bottom: 0;
}

.other__temp {
  font-size: 1.2rem;
  margin: 0;
}

div.day {
  display: flex;
  flex-wrap: wrap;
}

div.other-day {
  flex: 1 0;
}

div.other-day:nth-child(1), .other-day:nth-child(6), .other-day:nth-child(7),
.other-day:nth-child(8) {
  display: none;
}

.describ {
  display: block;
  width: 250px;
  font-size: 1.2rem;
}

.other__descrip {
  font-size: 0.699rem;
  margin-bottom: 5px;
}

.other-day {
  display: inline-block;
  padding: 8px;
  border: 1px solid #D2D2D2;
  background-color: rgba(130, 130, 130, 0.65);
  box-shadow: 8px 8px 12px #aaa;
  border-radius: 35px;
  width: 140px;
  margin: 8px 8px 0 8px;
}

.weather {
  width: 250%;
}

.validation_city {
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid grey;
  box-shadow: 8px 8px 12px #aaa;
  padding: 10px;
  margin-left: 25px;
}

 
@media screen and (min-width: 320px) and (max-width: 540px)  {
  .btn-select-location {
    position: relative;
    left: 20px;
    bottom: 441px;
  }

  .block__today { 
    text-align: center;
    margin: 0 25px;
    margin-top : 140px;
    height: 375px;
    width: 88%;
  }

  .block__today-text {
    font-size: 1.7rem;
    position: relative;
    bottom: 85px;
    right: 110px;
    width: 100%;
    margin-left: 100px;
  }

  .img__today {
    max-width: 140%;
    padding: 0;
    position: relative;
    left: 185px;
    top: 63px;
  }
}

@media screen and (min-width: 541px) and (max-width: 850px)  {
  .btn-select-location {
    position: relative;
    left: 200px;
    bottom: 441px;
  }
}

@media screen and (min-width: 851px) {
  .btn-select-location {
    position: relative;
    left: 450px;
    bottom: 441px;
  }

}